@{
    ViewBag.Title = "Index";
    <title>Polyad</title>
}
@*pagging*@
<script src="~/AngularApp/ui-bootstrap-tpls-0.11.0.js"></script>
<script src="~/AngularApp/master.js"></script>
@*pagging*@

<div class="page-co-che-qc col-xs-12" ng-app="ngUsers">
    <div class="page-header">
        <h4>Quản lý thành viên</h4>
    </div>
    <div ng-controller="ListUser">
        <div class="filter-bar">
            <form class="form-inline" role="form" @*ng-submit="SearchUser(UserSearch)"*@>
                <div class="form-group m-r-5">
                    <label for="">Tên truy cập:</label>
                    <input type="text" class="form-control input-sm" ng-model="UserSearch.UserName">
                </div>
                <div class="form-group m-r-5">
                    <label for="">Phòng ban:</label> 
                    <select class="form-control input-sm" ng-model="UserSearch.DepartmentId" ng-init="UserSearch.DepartmentId='-1'">
                        <option ng-repeat="dpm in lstDeparment" value="{{dpm.DepartmentId}}">{{dpm.Description}}</option>
                    </select>
                </div>
                <div class="form-group m-r-5">
                    <label for="">Trạng thái:</label>
                    <select class="form-control input-sm" ng-model="UserSearch.Status" ng-init="UserSearch.Status='-1'">
                        <option ng-repeat="st in lstStaus" value="{{st.Id}}">{{st.Value}}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-sm btn-primary" ng-click="onSearchClick(UserSearch)"><i class="fa fa-search"></i>&nbsp;Tìm kiếm</button>
            </form>
        </div>
        <hr>
        <a href="#modal-create-member" class="btn btn-sm btn-primary pull-right m-b-10" data-toggle="modal"><i class="fa fa-plus-circle fa-lg"></i>&nbsp;Thêm thành viên</a>


        @*List View*@
        <div class="table-responsive" ng-controller="Pagination">
            <span class="float-left none">Có <b>{{ totalItems }} </b>kết quả được tìm thấy.</span>
            Xem <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>05</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>40</option><option>50</option></select> bản ghi trên 1 trang.
            <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pull-right mb10 pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">STT</th>
                        <th>Tên truy cập</th>
                        <th>Họ và tên</th>
                        <th>Email</th>
                        <th class="text-center">Quyền</th>
                        <th class="text-center">Trạng thái</th>
                        <th class="text-center">Tác vụ</th>
                    </tr>
                </thead>
                <tbody id="lstUserSearch">
                    <tr ng-repeat="user in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                        <td class="text-center">{{($index+1)+(currentPage-1)*itemsPerPage}}</td>
                        <td>{{user.Username}}</td>
                        <td>{{user.Fullname}}</td>
                        <td>{{user.Email}}</td>
                        <td class="text-center">
                            <a class="cur-pointer" data-target="#modal-viewgroupname-member" data-toggle="modal" ng-click="ViewGroupName(user.UserId)">Xem</a>
                        </td>
                        <td class="text-center">
                            <span class="{{user.Status==0?'text-green':'text-d-red'}}">
                                {{user.Status==0?"Bình thường": "Khóa/Tạm dừng"}}
                            </span>
                        </td>
                        <td class="text-center">
                            <a class="cur-pointer" data-target="#modal-edit-member" data-toggle="modal" ng-click="EditUser_Get(user.UserId)">
                                <i class="fa fa-lg fa-edit"></i>
                            </a>
                            <a class="cur-pointer" data-target="#modal-alert-del" data-toggle="modal" ng-click="setId(user.UserId)">
                                <i class="fa fa-lg fa-trash-o"></i>
                            </a>
                            <a class="cur-pointer" href="#modal-reset-password" data-toggle="modal" ng-click="ResetPass_Get(user.UserId)">
                                <i class="fa fa-lg fa-key"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pull-right mb10 pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
        </div>
        @*View role*@
        <div class="modal fade" id="modal-viewgroupname-member" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Thông báo</h4>
                    </div>
                    <div class="modal-body">
                        <p><strong>Bạn đang có các quyền sau:</strong></p>
                        <div ng-repeat="gn in lstUserGroupName" value="{{gn.GroupId}}">- {{gn.GroupName}}</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Đóng lại</button>
                    </div>
                </div>
            </div>
        </div>
        @*Delete Form*@
        <div class="modal fade" id="modal-alert-del" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Thông báo</h4>
                    </div>
                    <div class="modal-body">
                        <p><strong>Thông tin bị xóa sẽ không lấy lại được. Hãy kiểm tra kỹ trước khi xóa.</strong></p>
                        <p>Bạn có chắc chắn muốn xóa không?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-primary" ng-click="Delete()">Đồng ý</button>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Bỏ qua</button>
                    </div>
                </div>
            </div>
        </div>
        @*Create Form*@
        <div class="modal fade" id="modal-create-member" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Thêm thành viên</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" name="CreateForm" ng-submit="Create_Post(User)">
                            <div class="form-group">
                                <label for="" class="col-xs-4 control-label">Tên truy cập <span class="req">*</span></label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control input-sm" ng-model="User.UserName" name="UserNameCreate" required>
                                </div>
                                <div class="error" ng-show="CreateForm.UserNameCreate.$dirty && CreateForm.UserNameCreate.$invalid">
                                    <span ng-show="CreateForm.UserNameCreate.$error.required">Bạn chưa nhập tên truy cập.</span>
                                </div>
                                <div class="error" Id="checkUserName">
                                    <span>{{User.UserMessage}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-4 control-label">Email <span class="req">*</span></label>
                                <div class="col-xs-8">
                                    <input type="email" class="form-control input-sm" ng-model="User.Email" name="EmailCreate" required>
                                </div>
                                <div class="error" ng-show="CreateForm.EmailCreate.$touched && CreateForm.EmailCreate.$invalid">
                                    <span ng-show="CreateForm.EmailCreate.$error.required">Bạn chưa nhập email.</span>
                                    <span ng-show="CreateForm.EmailCreate.$error.email">Email không hợp lệ.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-4 control-label">Họ và tên <span class="req">*</span></label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control input-sm" ng-model="User.FullName" name="FullNameCreate" required>
                                </div>
                                <div class="error" ng-show="CreateForm.FullNameCreate.$touched && CreateForm.FullNameCreate.$invalid">
                                    <span ng-show="CreateForm.FullNameCreate.$error.required">Bạn chưa nhập họ và tên.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-4 control-label">Phòng ban <span class="req">*</span></label>
                                <div class="col-xs-8">
                                    <select class="form-control input-sm" ng-model="User.DepartmentId" ng-init="User.DepartmentId='-1'" required>
                                        <option ng-repeat="dpm in lstDeparment" value="{{dpm.DepartmentId}}">{{dpm.Description}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-4 control-label">Nhóm quyền chức năng <span class="req">*</span></label>
                                <div class="col-xs-8">
                                    <ul class="tree-view-checkbox m-b-10">
                                        <li ng-repeat="u in lstUserGroup">
                                            <label>
                                                <input id="{{u.GroupId}}" value="{{u.GroupName}}" type="checkbox" @*ng-checked="selection.indexOf(u.GroupId) > -1"*@ ng-click="toggleSelection(u.GroupId)">
                                                {{u.GroupName}}
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group none">
                                <label for="" class="col-xs-4 control-label">Phòng ban</label>
                                <div class="col-xs-6">
                                    <select class="form-control input-sm" multiple>
                                        <option selected>Phòng A</option>
                                        <option>Phòng B</option>
                                        <option>Phòng C</option>
                                    </select>
                                </div>
                                <div class="col-xs-2">
                                    <a href="#modal-select-pb" data-toggle="modal" class="btn btn-sm btn-default">Chọn</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-8 col-xs-offset-4">
                                    <button type="submit" class="btn btn-sm btn-primary"
                                       ng-disabled="CreateForm.UserNameCreate.$dirty && CreateForm.UserNameCreate.$invalid ||
                                                         CreateForm.EmailCreate.$dirty && CreateForm.EmailCreate.$invalid ||
                                                         CreateForm.FullNameCreate.$dirty && CreateForm.FullNameCreate.$invalid ">
                                        <i class="fa fa-lg fa-plus-circle"></i>
                                        &nbsp;Thêm
                                    </button>
                                    <button type="button" data-dismiss="modal" class="btn btn-sm btn-danger"><i class="fa fa-lg fa-times-circle"></i>&nbsp;Bỏ qua</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        @*Edit Form*@
        <div class="modal fade" id="modal-edit-member" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Sửa thành viên</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" name="EditForm" ng-submit="EditUser_Post(UserDetail)">
                            <div class="form-group">
                                <label for="" class="col-xs-4 control-label">Tên truy cập</label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control input-sm" ng-model="UserDetail.Username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-4 control-label">Email</label>
                                <div class="col-xs-8">
                                    <input type="email" class="form-control input-sm" ng-model="UserDetail.Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-4 control-label">Tên đầy đủ</label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control input-sm" ng-model="UserDetail.Fullname" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-4 control-label">Phòng ban</label>
                                <div class="col-xs-8">
                                    <select class="form-control input-sm" ng-model="UserDetail.DepartmentId" required ng-init="UserDetail.DepartmentId='{{UserDetail.DepartmentId}}'">
                                        <option ng-repeat="dpm in lstDeparment" value="{{dpm.DepartmentId}}">{{dpm.Description}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-4 control-label">Nhóm quyền chức năng</label>
                                <div class="col-xs-8">
                                    <select class="form-control input-sm" ng-model="UserDetail.GroupId" required ng-init="UserDetail.Group='UserDetail.GroupId'">
                                        <option ng-repeat="u in lstUserGroup" value="{{u.GroupId}}">{{u.GroupName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-4 control-label">Trạng thái </label>
                                <div class="col-xs-8">
                                    <select class="form-control input-sm" ng-model="UserDetail.Status" required ng-init="UserDetail.Status='{{UserDetail.Status}}'">
                                        <option value="0">Bình thường</option>
                                        <option value="1">Khoá/tạm dừng</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-8 col-xs-offset-4">
                                    <button type="submit" class="btn btn-sm btn-primary"
                                            ng-disabled="CreateForm.UserNameCreate.$dirty && CreateForm.UserNameCreate.$invalid ||
                                                         CreateForm.EmailCreate.$dirty && CreateForm.EmailCreate.$invalid ||
                                                         CreateForm.FullNameCreate.$dirty && CreateForm.FullNameCreate.$invalid ">
                                        <i class="fa fa-lg fa-plus-circle"></i>
                                        &nbsp;Sửa
                                    </button>
                                    <button type="button" data-dismiss="modal" class="btn btn-sm btn-danger"><i class="fa fa-lg fa-times-circle"></i>&nbsp;Bỏ qua</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        @*ResetPass Form*@
        <div class="modal fade" id="modal-reset-password" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Reset Password</h4>
                    </div>
                    <div class="modal-body">
                        <form action="" method="POST" class="form-horizontal" role="form" name="resetPassFrom" novalidate>
                            <div class="form-group">
                                <label for="" class="col-xs-4 control-label">Tên truy cập</label>
                                <div class="col-xs-8"><p class="form-control-static">{{UserDetail.Username}}</p></div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-4 control-label">Email</label>
                                <div class="col-xs-8"><p class="form-control-static">{{UserDetail.Email}}</p></div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-4 control-label">Họ và tên</label>
                                <div class="col-xs-8"><p class="form-control-static">{{UserDetail.Fullname}}</p></div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-4 control-label">Mật khẩu</label>
                                <div class="col-xs-8">
                                    <input type="password" class="form-control input-sm" ng-model="NewPass" name="resetNewPass" placeholder='Mật khẩu mới' ng-minlength="6" required>
                                </div>
                                <div class="error" ng-show="resetPassFrom.resetNewPass.$touched && resetPassFrom.resetNewPass.$error.required">
                                    Bạn chưa nhập mật khẩu!
                                </div>
                                <div class="error" ng-show="resetPassFrom.resetNewPass.$invalid && resetPassFrom.resetNewPass.$touched && resetPassFrom.resetNewPass.$error.minlength">
                                    Mật khẩu phải dài hơn 6 ký tự!
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-xs-4 control-label">Xác nhận mật khẩu</label>
                                <div class="col-xs-8">
                                    <input type="password" class="form-control input-sm" ng-model="confirm_resetNewPass" name="confirm_resetNewPass" placeholder='Xác nhận mật khẩu mới' required>
                                </div>
                                <div class="error" ng-show="resetPassFrom.confirm_resetNewPass.$touched && resetPassFrom.confirm_resetNewPass.$invalid">
                                    Bạn chưa xác nhận mật khẩu!
                                </div>
                                <div class="error" ng-show="NewPass != confirm_resetNewPass">
                                    Xác nhận mật khẩu không đúng!
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-8 col-xs-offset-4">
                                    <button type="submit" class="btn btn-sm btn-primary" ng-click="ResetPass_Post()"
                                            ng-disabled="resetPassFrom.resetNewPass.$touched  && resetPassFrom.resetNewPass.$invalid ||
                                                         resetPassFrom.confirm_resetNewPass.$touched  && resetPassFrom.confirm_resetNewPass.$invalid">
                                        <i class="fa fa-check-circle"></i>&nbsp;Xác nhận
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-times-circle"></i>&nbsp;Bỏ qua</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        @*Alert*@
        <a data-target="#modal-alert" data-toggle="modal" id="divalert"></a>
        <div class="modal fade" id="modal-alert" data-backdrop="static" >
            <div class="modal-dialog" style="width:400px;margin-top:100px;">
                <div class="modal-content">
                    <div class="modal-header {{flag==0?'bg-primary':'bg-danger'}} ">
                        <h4 class="modal-title">Thông báo</h4>
                    </div>
                    <div class="modal-body">
                        <p><strong>{{alert}} + {{flag}}</strong></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" ng-click="ClosePopup()">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-select-pb" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Chọn phòng ban</h4>
                </div>
                <div class="modal-body">
                    <ul class="tree-view-checkbox m-b-10" style="max-height:auto">
                        <li>
                            <label><input type="checkbox">&nbsp;Khối kinh doanh</label>
                            <ul class="sub">
                                <li><label><input type="checkbox">&nbsp;Trung tâm công nghệ</label></li>
                                <li><label><input type="checkbox">&nbsp;Trung tâm công nghệ</label></li>
                                <li><label><input type="checkbox">&nbsp;Trung tâm công nghệ</label></li>
                                <li><label><input type="checkbox">&nbsp;Trung tâm công nghệ</label></li>
                                <li><label><input type="checkbox">&nbsp;Trung tâm công nghệ</label></li>
                            </ul>
                        </li>
                        <li><label><input type="checkbox">&nbsp;Khối kinh doanh</label></li>
                        <li><label><input type="checkbox">&nbsp;Khối kinh doanh</label></li>
                    </ul>
                    <div class="text-right">
                        <a href="#" class="btn btn-sm btn-primary"><i class="fa fa-check-circle"></i>&nbsp;Đồng ý</a>
                        <a href="#" class="btn btn-sm btn-link">Bỏ qua</a>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>


