<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
    <title>Pagination</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/AngularApp/test/bootstrap.css" rel="stylesheet" />
    <link href="~/AngularApp/test/style.css" rel="stylesheet" />
    <script src="~/AngularApp/test/angular.js"></script>
    <script src="~/AngularApp/ui-bootstrap-tpls-0.11.0.js"></script>
</head>
<body style="margin:0 50px; padding: 20px ">
    <div ng-controller="ItemCtrl">
        <h2 class="form-title">Datagrid items</h2>
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline">
                    <div class="input-group col-md-12 search-panel-style">
                        <h4 style="color:white; margin-bottom:2px">Search Panel</h4>
                        <label>
                            <select class="form-control" data-ng-model="DepartmentId" ng-change="showId()"
                                    data-ng-options="c.DepartmentId as c.Description for c in lstDeparment">
                                <option value="">Tất cả phòng ban</option>
                            </select>
                        </label>
                        <label>
                            <input type="text" class="form-control" placeholder="search by item name" ng-model="SearchText" />
                        </label>
                        <label class="btn btn-default" ng-disabled="true">
                            <i class="glyphicon glyphicon-search"></i>
                        </label>
                    </div>
                </form>
                <br />
            </div>
            <div class="row div-margin">
                <div class="col-md-12 search-list-style">
                    <div class="row">
                        <div class="col-md-4">
                            Page Size:
                            <select ng-model="entryLimit" class="form-control">
                                <option>5</option>
                                <option>10</option>
                                <option>20</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </div>
                        <div class="col-md-4 alert">
                            Filtered <b>{{ filtered.length }}</b> of <b>{{ Items.length}}</b> total items
                        </div>
                        <div class="col-md-4 pull-right padding-right-zero">
                            <a class="btn btn-primary disabled" href="/Item/Create">Add New Item</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" ng-show="filtered.length > 0">
                            <table class="table table-striped table-bordered">
                                <thead>
                                <th>Tên truy cập <a title="Sort list by name alphabetic order" ng-click="sort_by('Name');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                <th>Họ tên <a title="Sort list by country alphabetic order" ng-click="sort_by('CountryId');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in filtered = (Items  | filter:{'Username':  SearchText}:false | filter:{'DepartmentId':  DepartmentId || undefined}:true | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                        <td><b>{{data.Username }} </b></td>
                                        <td><b>{{data.Fullname}}</b></td>
                                        <td><b>{{data.DepartmentId}}</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12" ng-show="filtered.length > 0">
                            <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filtered.length" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>
                        </div>
                        <div class="col-md-12" ng-show="filtered.length == 0">
                            <div class="col-md-12 alert alert-danger">
                                Không có bản ghi nào được tìm thấy .
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</body>

</html>
<script type="text/javascript">
    var app = angular.module('app', ['ui.bootstrap']);
    app.filter('startFrom', function () {
        return function (input, start) {
            if (input) {
                start = +start; //parse to int
                return input.slice(start);
            }
            return [];
        }
    });

    app.factory('ItemService', ['$http', function ($http) {

        return {
            GetAllItem: function () {
                return $http.get('/User/GetListUsers');
            },
        };
    }]);
    

    app.controller("ItemCtrl", function ($scope, $http, ItemService) {
        $scope.Countries = [];
        $http.get("/User/GetListDepartment")
       .then(function (lstdpmBl) {
           $scope.lstDeparment = lstdpmBl.data;
       });


        $scope.Items = [];
        $http.get("/User/GetListUsers")
          .then(function (response) {
              $scope.Items = response.data;
          });
        $scope.showId = function () {
            //alert($scope.CountryId)
        }
        //LoadAllItem();
        function LoadAllItem() {
            $scope.Items = [];
            //$http.get('/Item/GetItemList') //if with AJS Service
            ItemService.GetAllItem()
                .success(function (data) {
                    $scope.Items = data;
                })
                .error(function (er) {
                    alert("Error! items can't be loaded.");
                });
        }

        //for paging, sorting, filtering
        $scope.currentPage = 1; //current page
        $scope.entryLimit = 5; //max no of items to display in a page
        $scope.filteredItems = $scope.Items.length; //Initially for no filter
        $scope.totalItems = $scope.filteredItems;
        $scope.setPage = function (pageNo) {
            $scope.currentPage = pageNo;
        };
        $scope.filter = function () {
            $timeout(function () {
                $scope.filteredItems = $scope.filtered.length;
            }, 9000);
        };
        $scope.sort_by = function (predicate) {
            $scope.predicate = predicate;
            $scope.reverse = !$scope.reverse;
        };

    })
</script>
