@{
    ViewBag.Title = "Home Page";
}

<div style="margin-left:10px;" ng-app="myApp2" ng-controller="MayTinh">
    <br />
    <input type="text" ng-model="so1" />
    <br />
    <br />
    <input type="text" ng-model="so2" />
    <br />
    <br />
    <select ng-model="pheptoan">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
    <button ng-click="ThucHien()">Kết quả</button>
    {{ketqua}}
</div>
@*<div ng-app="myApp7">
    <div ng-controller="DetailController">
        <div style="height:200px;background-color:#808080">
            Header
        </div>
        <div style="height:100px;text-align:center;" ng-view=""></div>
        <div style="height:200px;background-color:#ffd800">
            Footer
        </div>
    </div>
</div>*@

@*<div ng-app="myApp8">
    <div>
        <div style="height:200px;background-color:#808080">
            Header
        </div>
        <div style="height:100px;text-align:center;" ng-view="">

        </div>
        <div style="height:200px;background-color:#ffd800">
            Footer
        </div>
    </div>
</div>*@
<div ng-app="myApp3">
    <div ng-formlogin>

    </div>
</div>

@*<div ng-app="myApp9">
    <div ng-controller="QController">

    </div>
</div>*@
